
:root {
  --bg-primary: #202020;
  --bg-primary-rgb: 20, 20, 20;
  --bg-secondary: #2c2c2c;
  --bg-tertiary: #444;
  --bg-accent: #00bcd4;
  --bg-accent-hover: #008c9e;
  --tx-primary: #fff;
  --tx-secondary: #aaa;
  --tx-accent: #00bcd4;
  --tx-accent-hover: #333;

  --spacing: 8px;
}

html {
  font-size: var(--fz);
  font-family: Roboto, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--tx-primary);
  margin: 0;
  padding: 0;
}

#__nuxt {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh;
}

a { 
  color: var(--tx-accent);
  text-decoration: none;
}

a:visted {
  color: var(--tx-accent);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

button {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
  display: block;
  border-radius: 4px;
  background-color: var(--bg-primary);
  color: var(--tx-primary);
  border: none;
  cursor: pointer;
  margin-top: var(--spacing);
  font-weight: bold;
  transition: background-color 0.2s;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--bg-accent);
}

button:active {
  background-color: var(--bg-accent-hover);
}
