
:root {
  --bg-primary: #202020;
  --bg-secondary: #2c2c2c;
  --bg-tertiary: #444;
  --bg-accent: #00bcd4;
  --bg-accent-hover: #008c9e;
  --tx-primary: #fff;
  --tx-secondary: #aaa;
  --tx-accent: #00bcd4;
  --tx-accent-hover: #333;

  --spacing: 8px;
}

html {
  font-size: var(--fz);
  font-family: Roboto, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--tx-primary);
  margin: 0;
  padding: 0;
}

#__nuxt {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh;
}

a { 
  color: var(--tx-accent);
  text-decoration: none;
}

a:visted {
  color: var(--tx-accent);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}


/* posts style */
.post {
  margin: var(--spacing) 0;
  padding: calc(var(--spacing) * 4);
  border-radius: 4px;
  background-color: var(--bg-secondary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Arial', sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post p {
  margin: var(--spacing) 0;
}
.post p strong, .post p b {
  font-weight: bold;
  color: var(--tx-accent);
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  margin: var(--spacing) 0;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  align-self: flex-start;
}

.post h1 {
  font-size: 2.5rem;
}

.post h2 {
  font-size: 1.8rem;
}

.post img {
  max-width: 70%;
  height: auto;
}

.post em {
  font-style: italic;
  width: 90%;
  display: block;
  margin: var(--spacing) auto;
  font-size: .9rem;
}

@media (max-width: 768px) {
  .post {
    padding: calc(var(--spacing) * 2);
  }

  .post h1 {
    font-size: 2rem;
  }

  .post h2 {
    font-size: 1.5rem;
  }
}
